
/**
 * 由 One-step-admin 提供技术支持
 * Powered by One-step-admin
 * https://one-step-admin.hurui.me
 */
    
.el-row[data-v-a5ba7221]{margin-bottom:20px}.demo>i[data-v-c02af510]{margin:0 20px;font-size:1.5em;color:#606266;vertical-align:middle}.demo button[data-v-c02af510]{margin:0 20px}.list-icon[data-v-c02af510]{display:inline-block;margin:10px}.list-icon i[data-v-c02af510]{font-size:32px;color:#606266}.el-link[data-v-50a533cd]{margin:0 5px}
