
/**
 * 由 One-step-admin 提供技术支持
 * Powered by One-step-admin
 * https://one-step-admin.hurui.me
 */
    
.el-card[data-v-f4f24d66]{margin-bottom:15px}.el-card[data-v-f4f24d66] .el-card__body{display:flex;justify-content:center;cursor:pointer}.el-card i[data-v-f4f24d66]{font-size:24px}.iconify-dialog[data-v-f4f24d66]{padding:0 16px 16px}.icon-box[data-v-f4f24d66]{display:flex;align-items:center;justify-content:center;width:80px;height:80px;border:1px solid #e0e8ef}.icon-box i[data-v-f4f24d66]{font-size:60px}.icon-info[data-v-f4f24d66]{display:flex;flex-direction:column;justify-content:space-between;height:100%}.icon-info .title[data-v-f4f24d66]{font-size:24px;font-weight:700}
