
/**
 * 由 One-step Console 提供技术支持
 * Powered by One-step Console
 * https://one-step-admin.hurui.me
 */
  
.test[data-v-06ab7e6b]{font-size:24px}.test span[data-v-06ab7e6b]{color:red;font-weight:700}.example-icon[data-v-7773e288]{font-size:48px}.test1[data-v-7773e288]{font-size:24px}.test1 .a[data-v-7773e288]{background-color:#000;width:100px;height:100px}.test2[data-v-7773e288]{font-size:24px}.test2 .a[data-v-7773e288]{background-color:#ff0;width:100px;height:100px}
